extends layout 

block content
  body(class="homerton")
    div(class="top") 
      img(id="pixlsarchive" src="./public/images/pixlsarchive.png" height=90)
      h3 a window into samas spirit and soul
      img(class="folder-icon" src="./public/images/folder.png" height=100)
      img(class="folder-icon" src="./public/images/folder.png" height=100)
      img(class="folder-icon" src="./public/images/folder.png" height=100)
      h2 live laugh love sama!