extends layout

block content
  div(class="mobile-bar")
    h3 salads are so good
  div(class="enter-page")
    img(id="enter-logo" src='./public/images/pixlsarchive_logo_img.png' height="200px" width="270px")
    a(href='/homerton'): button(id="enter-button") tip toe thru the window