extends layout

block content
  div(class="mobile-bar")
    h3 me when i'm a brand owner:
  div(class="home-page")
    img(class="home-logo" src="./public/images/pixlsarchive_logo.png" height="90rem")
  header(class='home-topbar')
    ul
      li(class="topbar-item")
        a(href='/homerton' class="selected") homerton
      li(class="topbar-item")
        a(href='/info') informatory
      //- add hii page link item here when ur ready
      //- add perceive page link item here when ur ready
  div(class="flex-wrapper")
    div(class="home-text")
      h2(class="wrap-text") making websites soon, stay tuned!
      p giggle while ur here:
      div(class="roulette-box") 
         button(class="social-media"): a(href="https://open.spotify.com/playlist/4u8nRqhoY88EJSqwHUjcs2?si=YxZFkFRqQxijFw6OBhV4pA&pi=u-YHcLE0OxTyiC") playlist leak
         img(class="eye-ghost" src="./public/images/eyecon_pixlA.png" height="230")
      p(class="wrap-text")  see informatory if you need one, prices and examples to come soon !