extends layout 

block content
  div(class="mobile-bar")
    h3 just say you want one bro trust
  img(class="home-logo" src="/public/images/pixlsarchive_logo.png" height="90rem") 
  header(class='topbar')
      ul
        li(class="topbar-item")
          a(href='/homerton') homerton
        li(class="topbar-item")
          a(href='/info' class="selected") informatory
        //- add hii page link item here when ur ready
        //- add perceive page link item here when ur ready
  div(class="flex-wrapper")
    div(class="info-page")
      img(src="./public/images/exclaymation_pixlarchive.png" id="exclay" height="200px" width="133px")
      h1(class="info-header") "sama what is this?"
      div(class="info-text")
        p basically if you want or need a website, whether it be for your business or personal antics, tap in !
      button(class="inquire-button"): a(href="https://www.instagram.com/pixlsarchive?igsh=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr") tap in!