extends layout 

block content
  div(class="home-page")
    img(class="home-logo" src="/images/pixlsarchive_logo.png" height="90rem") 
  header(class='topbar')
      ul
        li(class="topbar-item")
          a(href='/homerton') homerton
        li(class="topbar-item")
          a(href='/info') info
        //- add hii page link item here when ur ready
        li(class="topbar-item")
          a(href='/look' class="selected") perceive