extends layout 

block content
  body(class="homerton")
    div(class="top") 
      img(id="pixlsarchive" src="./public/images/pixlsarchive.png" height=90)
      h3 some wip shit
      p check back laterz
      h3 live laugh luv urs truly !