body {
  background-image: url(../public/images/IMG_8957.jpg);
  font: 1rem 'Courier New', Courier, monospace;
  color: #dbe7ff;
  background-color: black;
  text-align: center;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

li {
  display: inline-block;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

a {
  color:#dbe7ff;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

.wrap-text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.selected {
  text-decoration: line-through;
}

.mobile-bar {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 0.6rem;
}

.enter-page {
  text-align: center;
}

#enter-logo {
  padding-top: 15rem;
  padding-bottom: 1rem;
}

#enter-button {
  padding: 0.7rem;
  display: block;
  margin: auto;
  color: #dbe7ff;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  background-color: #000219;
  border-color: #dbe7ff;
  border-style: double;
  opacity: 40%;
}

#enter-button:hover {
  opacity: 77%;
}

.home-logo {
  padding-top: 3rem;
  height: 4.3rem;
}

.roulette-box {
  margin-left: 2rem;
  margin-right: 2rem;
}

.social-media {
  display: inline-block;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  margin-right: 10rem;
  padding: 0.7rem;
  border-radius: 1.5rem;
  background: none;
  border-color: #dbe7ff;
}

.eye-ghost {
  border-bottom-style: solid;
  margin-bottom: 0;
  padding-left: 9rem;
}

.topbar {
  text-align: center;
}

.info-page {
  padding-top: 1rem;
}

#exclay {
  height: 10rem;
  width: 6.3rem;
}

.info-header {
  font-size: 1.7rem;
}

.info-text {
  width: 21rem;
}

.inquire-button {
  color: #dbe7ff;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.4rem;
  border-color: #dbe7ff;
  border-style: solid;
  border-radius: 0.7rem;
  background: none;
  opacity: 90%
}

.inquire-button:hover {
  opacity: 90%;
}

.hi-page {
  padding-top: 1.3rem;
  text-align: center;
}

input {
  text-align: center;
}

@media(min-width: 850px) {
  .flex-wrapper {
    display: flex;
    margin-top: 0.1rem;
  }

  body {
    line-height: 1rem;
    background-color: #000219;
  }

  li {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .mobile-bar {
    display: none;
  }

  #enter-logo {
    padding-top: 9rem;
  }

  button#enter-button {
    padding: 0.7rem;
  }

  .home-page {
    font-size: 0.8rem;
  }

  .home-logo {
    padding-top: 1.2rem;
    height: 5.7rem;
  }

  .eye-ghost {
    height: 10rem;
  }

  .social-media {
    display: block;
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-left: 8rem;
    padding: 0.7rem;
    border-radius: 1.5rem;
    background: none;
    border-color: #dbe7ff;
  }

  .info-page {
    padding-top: 1rem;
  }

  #exclay {
    height: 10rem;
    width: 6.3rem;
  }

  .info-header {
    font-size: 2.2rem;
  }

  .info-text {
    margin-left: 0.7rem;
    width: 25rem;
    font-size: 1rem;
  }

  .inquire-button {
    opacity: 60%;
  }
}

@media(min-width: 1100px) and (max-width: 850px){
  .flex-wrapper {
    display: flex;
    margin-top: 7vh;
  }

  body {
    line-height: 1rem;
    background-color: #000219;
  }

  li {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  button#enter-button {
    padding: 0.7rem;
  }

  .home-page {
    padding-top: 1rem;
    font-size: 1.3rem;
  }

  .home-logo {
    height: 5.7rem;
  }

  .social-media {
    display: block;
    margin-left: 15rem;
    padding: 0.7rem;
    border-radius: 1.5rem;
    background: none;
    border-color: #dbe7ff;
  }

  #exclay {
    height: 10rem;
    width: 6.3rem;
  }

  .info-header {
    font-size: 2.2rem;
  }

  .info-text {
    margin-left: 0.7rem;
    width: 25rem;
    font-size: 1rem;
  }

  .inquire-button {
    opacity: 60%;
  }
}