@font-face {
  font-family: 'pixelify';
  src: url('/public/fonts/pixelifysans-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@keyframes typewrite {
  from {
    width: 0;
  }

  to {
    width: 20em;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(120px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes switchContentOut {
  from {
    opacity: 100%
  }
  
  to {
    opacity: 0%;
  }
}

@keyframes switchContentIn {
  from {
    opacity: 0%
  }
  
  to {
    opacity: 80%;
  }
}

html, body {
  height: 100%;
}

body {
  font-size: 0.9rem;
  font-family: 'pixelify';
  color: white;
  background-color: #b5b8c1;
}

a {
  text-decoration: none;
  color: black;
}

.indexter {
  display: grid;
  place-items: center;
}

#enter-button {
  text-align: center;
  display: block;
  margin: auto;
  font-family: 'pixelify';
}

.homerton {
  padding-top: 7rem;
  height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "sidebar main sidebar2"
  /* "sidebar sub sidebar2"; */
}

.top {
  text-align: center;
  place-content: center; 
  background-color: #1c1c1c;
  border-style: solid;
  border-color: white;
  grid-area: main;
}

.bottom {
  background-color: black;
  border-style: solid;
  border-color: white;
  border-top: none;
  grid-area: sub
}

#pixlsarchive {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}